<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>FYP</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery.validate.min.js"></script>
    <script src="~/lib/jquery/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    @RenderSection("MoreScripts", false)


</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <div>
        &nbsp;
    </div>
</body>
</html>
