<body>

<br />
<div class="col-sm-12" style="vertical-align:middle; text-align: center;">
    <img src="~/images/welcome.png" width="270" height="110" />
</div>

<hr />

<div class="col-sm-12" style="vertical-align:middle; text-align: center;">
    <h2><b><span style="color:midnightblue">ABOUT US</span></b></h2>
</div>

<div class="col-sm-12" style="border:double; box-shadow: 10px 10px 5px grey; background-color:lightgray;vertical-align:middle; text-align: center;">

    <p>
        <b>Food Ordering System </b> is a system where food ordering is made more convenient than ever.
        <br>Customers registered in our system will be able to make their order easily and have your food delivered right to your doorstep. <br />
    </p>

</div>
<br />

    <div class="col-sm-12" style="vertical-align:middle; text-align: center;">
        <h2><b><span style="color:midnightblue">HOW OUR SYSTEM WORKS</span></b></h2>
    </div>



    <p>
        <div class="col-sm-12" style="border:double; box-shadow: 10px 10px 5px grey; background-color:lightgray; ">
            Our system is very simple to use, all you have to do is follow these few easy steps and you will have your food delivered to your doorstep in no time!

            <br />
            <br /><b>Step 1: </b>Register as customer<a asp-controller="Account" asp-action="Register"> <u>here</u> </a>to start placing your order. We just need afew basic details from you and you will be registered!
            <br /><b>Step 2: </b>Click on "Start order" and input the necessary details to place order.
            <br /><b>Step 3: </b>Choose your preferred food items from our menu.
            <br /><b>Step 4: </b>After you have selected your prefered food items, press "Add to cart" to add your order to cart.
            <br /><b>Step 5: </b>You can view your cart by clicking on the cart logo located on your navigation bar.
            <br /><b>Step 6: </b>Confirm your payment by clicking "Payment". <i>(Do note that the payment mode is Cash on delivery)</i>
            <br /><b>Step 7: </b>After you have submitted your order, all you have to do is wait for it to arrive!
            <br />

        </div>
    </p>

    <hr />

    <div class="col-sm-12" style="vertical-align:middle; text-align: center;">
        <h4><b><i style="font-family:'Comic Sans MS'">Thank you for using Food Ordering System</i></b></h4>
    </div>

    @*<a asp-controller="Menu" asp-action="Visitor"><b>Back to Menu</b></a>*@

    <br />
</body>


