<br />
<div class="col-sm-12" style="vertical-align:middle; text-align: center;">
    <img src="~/images/welcome.png" width="270" height="110" />
</div>

    <hr />

<div class="col-sm-12" style="vertical-align:middle; text-align: center;">
    <h2><b><span style="color:darkslateblue">CONTACT US</span></b></h2>
</div>

<div class="col-sm-12" style="border:double; background-color:lightgray;vertical-align:middle; box-shadow: 10px 10px 5px grey; text-align: center;">

        <p>
            Experiencing any technical difficulties in creating your account or logging in? 
            <br />Fret not, just reach out to us by giving us a call or sending us an email with your particulars and enquiries. We will try our best to assist you!
        </p>

</div>

<br />

<body>
    <div class="col-sm-12" style="vertical-align:middle; text-align: center;">
        <h2><b><span style="color:darkslateblue">OUR CONTACT INFORMATION <i class="fa fa-info-circle"></i></span></b></h2>
    </div>



    <p>
        <div class="offset-sm-4 col-sm-4" style="border:double; box-shadow: 10px 10px 5px grey; background-color:lightgray;">
            <i class="fa fa-phone"></i><b> PHONE: </b>+65 68887654
            <br /><i class="fa fa-at"></i><b> EMAIL: </b>foodorderingsystem@outlook.com
            <br /><i class="fa fa-facebook-square"></i><b> SOCIAL MEDIA: </b> <i>TBC</i>
        </div>

    </p>

    <hr />

 @*<a asp-controller="Menu" asp-action="Visitor"><b>Back to Menu</b></a>*@



</body>
