    <hr />

<div class="col-sm-12" style="vertical-align:middle; text-align: center;">
    <h2><b><span style="color:midnightblue"><i class="fa fa-ban"></i> Login Disabled</span></b></h2>
</div>

<div class="col-sm-12" style="vertical-align:middle; text-align: center; font-size:17px">

        <p>
            Due to the large amount of in-house customers we are facing, customer login will be disabled for the time being. 
            <br />However, you can still browse the menu located on the "MENU" tab on the navigation bar.
            <br />
            <br />You can contact our System Administrator for urgent orders or enquiries. 
            <br>Please refer to the <a href="Contactus">Contact Us</a> page for our contact information.<br />
        </p>

    <hr />

    <div class="col-sm-12" style="vertical-align:middle; text-align: center;">
        <h4><b><i>We'll be back up and running as soon as possible!</i></b></h4>
    </div>

    @*<b><a href="Menu/Customer">Browse Menu</a></b>*@

</div>
