@*@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head style="text-align:center">
    <meta name="viewport" content="width=device-width" />
    <title>Forbidden</title>
</head>

<body style="text-align:center">
    <br />
    <h1><b style="color:red"><i class="fa fa-ban"></i> FORBIDDEN!</b></h1><br />
    <h3>You are not authorised to view this page.</h3>
    <br />
    <a asp-controller="Account" asp-action="Login"><b>LOGIN HERE</b></a>
</body>
</html>
