@model Promotion

<div>

    <br />

    <div class="form-group row">
        <div class="offset-sm-2"><h2><b>@Model.Promotion_discount_id</b></h2></div>
    </div>

    <div class="form-group row">
        <div class="offset-sm-2"><h2><b>@Model.Promotion_discount_Description</b></h2></div>
    </div>

    <div class="form-group row">
        <div class="offset-sm-2 col-sm-5">
            <img id="ImgPhoto" src="~/Images/chance.jpg" style="width:400px;" />
        </div>
    </div>


</div>